<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./bootstrap.php"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <testsuites>
        <!-- this test suite is manually ordered -->
        <testsuite name="model">
          <file>model-tests/CreateModelTest.php</file>
          <file>model-tests/EntitiesTest.php</file>
          <file>model-tests/EntityPropertiesTest.php</file>
          <file>model-tests/ModelAssociationsOneToManyTest.php</file>
          <file>model-tests/ModelAssociationsManyToManyTest.php</file>
          <file>model-tests/ModelAssociationsManyToManyUnidirectionalTest.php</file>
          <file>model-tests/ModelInhertianceTest.php</file>
          <file>model-tests/ModelDCValidationTest.php</file>
          <file>model-tests/SerializerExtensionTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
      <whitelist>
        <directory suffix=".php">lib/Webforge</directory>
        <exclude>
          <file>lib/Webforge/Doctrine/Compiler/Test/BaseUserEntity.php</file>
        </exclude>
      </whitelist>
    </filter>

    <listeners>
      <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>
</phpunit>